<p class="text-[#666] text-[18pt] pt-10 pb-2">Projects List</p>

<form (ngSubmit)="onSubmit()" action="">
  <div class="flex space-x-12 w-full">
    <div class="flex space-x-6">
      <input
        id="search-input"
        name="search-input"
        type="text"
        placeholder="Project number, name, customer name"
        [(ngModel)]="searchForm.searchValue"
        class="h-[38px] w-[400px] border-[#e9e9e9] border p-2"
      />

      <select
        id="select-input"
        name="select-input"
        [(ngModel)]="searchForm.status"
        class="block w-[200px] p-2 mb-6 text-sm text-gray-900 border border-[#e9e9e9] rounded-sm focus:ring-blue-500 focus:border-blue-500"
      >
        <option selected value="" disabled hidden class="text-[#ccc]">
          Project status
        </option>
        <option
          class="text-base"
          *ngFor="let status of statusList"
          [ngValue]="status.value"
        >
          {{ status.name }}
        </option>
      </select>
    </div>

    <div>
      <button
        type="submit"
        class="h-[35px] bg-[#2f85fa] rounded-sm text-white w-[200px]"
      >
        Search Project
      </button>
      <button
        class="h-[35px] bg-transparent rounded-sm text-[#2f85fa] w-[200px]"
        (click)="resetSearch()"
      >
        Reset Search
      </button>
    </div>
  </div>
</form>

<div class="relative shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left border-collapse">
    <thead class="text-md text-black">
      <tr>
        <th class="p-4 border border-slate-300"></th>
        <th class="px-6 py-3 border border-slate-300">Number</th>
        <th class="px-6 py-3 border border-slate-300">Name</th>
        <th class="px-6 py-3 border border-slate-300">Status</th>
        <th class="px-6 py-3 border border-slate-300">Customer</th>
        <th class="px-6 py-3 border border-slate-300">Start date</th>
        <th class="pl-6 py-3 border border-slate-300">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="bg-white border-b hover:bg-[#e9e9e9]"
        *ngFor="let project of listProject"
      >
        <td class="w-4 p-4 border border-slate-300">
          <div class="flex items-center">
            <input
              id="checkbox-table-1"
              type="checkbox"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500"
            />
            <label for="checkbox-table-1" class="sr-only">checkbox</label>
          </div>
        </td>
        <td
          class="px-6 py-4 border border-slate-300"
          (click)="changeUpdateMode(project)"
        >
          <p class="cursor-pointer">
            {{ project.projectNumber }}
          </p>
        </td>

        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap border border-slate-300"
        >
          {{ project.projectName }}
        </th>
        <td class="px-6 py-4 border border-slate-300">
          {{ statusConvert[project.status] }}
        </td>
        <td class="px-6 py-4 border border-slate-300">
          {{ project.customer }}
        </td>
        <td class="px-6 py-4 border border-slate-300">
          {{ project.startDate }}
        </td>
        <td class="py-4 border border-slate-300">
          <div class="flex items-center justify-center">
            <svg
              fill="#ff0000"
              viewBox="0 0 32 32"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              stroke="#ff0000"
              class="w-5 h-5 cursor-pointer"
              (click)="deleteProject(project.projectNumber)"
              *ngIf="project.status == 'NEW'"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <path
                  d="M28.025 4.97l-7.040 0v-2.727c0-1.266-1.032-2.265-2.298-2.265h-5.375c-1.267 0-2.297 0.999-2.297 2.265v2.727h-7.040c-0.552 0-1 0.448-1 1s0.448 1 1 1h1.375l2.32 23.122c0.097 1.082 1.019 1.931 2.098 1.931h12.462c1.079 0 2-0.849 2.096-1.921l2.322-23.133h1.375c0.552 0 1-0.448 1-1s-0.448-1-1-1zM13.015 2.243c0-0.163 0.133-0.297 0.297-0.297h5.374c0.164 0 0.298 0.133 0.298 0.297v2.727h-5.97zM22.337 29.913c-0.005 0.055-0.070 0.11-0.105 0.11h-12.463c-0.035 0-0.101-0.055-0.107-0.12l-2.301-22.933h17.279z"
                ></path>
              </g>
            </svg>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
